<div class="section">
    <div class="container">
        <row></row>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <img src="img/horario.png" class="center-block img-responsive">
                </div>
            </div>
            <table class="table" ng-controller="HorariosController">
                <tbody>
                    <tr align="center">
                        <td></td>
                        <td>Lunes</td>
                        <td>Martes</td>
                        <td>Miércoles</td>
                        <td>Jueves</td>
                        <td>Viernes</td>
                    </tr>
                </tbody>


                <tbody ng-repeat="hora in horario | orderBy: 'prioridad'">
                    <tr align="center">
                        <td>
                            <b>{{hora.horario}}</b>
                        </td>
                        <td>
                            <img ng-if="hora.lunes" ng-src="{{hora.lunes.imagen}}" class="center-block img-responsive">
                        </td>
                        <td>
                            <img ng-if="hora.martes" ng-src="{{hora.martes.imagen}}" class="center-block img-responsive">
                        </td>
                        <td>
                            <img ng-if="hora.miercoles" ng-src="{{hora.miercoles.imagen}}" class="center-block img-responsive">
                        </td>
                        <td>
                            <img ng-if="hora.jueves" ng-src="{{hora.jueves.imagen}}" class="center-block img-responsive">
                        </td>
                        <td>
                            <img ng-if="hora.viernes" ng-src="{{hora.viernes.imagen}}" class="center-block img-responsive">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>