<div class="section" ng-controller="TiendaController">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Equipo de Taekwondo</h1>
                    </div>
                </div>
                <div class="section">
                    <div class="col-md-3" align="center" ng-repeat="producto in productos">
                        <h2 class="text-center">{{producto.nombre}}</h2>
                        <img ng-src="{{producto.imagen}}" class="img-responsive"
                        height="250" width="250">
                        <p align="center">{{producto.descripcion}}</p>
                        <h3 class="text-center">{{producto.precio[0].precio}}</h3>
                        <a class="btn btn-primary" ng-click="onAgregarCarrito()">Agregar a carrito</a>
                    </div>
                </div>
            </div>
        </div>